[submodule "AMXX-API-Weapon-Player-Model"]
	path = AMXX-API-Weapon-Player-Model
	url = https://github.com/YoshiokaHaruki/AMXX-API-Weapon-Player-Model
[submodule "non_reapi_support"]
	path = non_reapi_support
	url = https://gist.github.com/YoshiokaHaruki/bcc9c6dbc6e23c69ea53d04c72a03cbd
